django
django-mptt
django-polymorphic
django-polymorphic_tree
requests
paho-mqtt
json
PyMySQL
virtualenv
pytz

# DRF API dependencies
djangorestframework
coreapi
django-filter
django-crispy-forms
# Documentation
pygments
markdown

# drfdocs dependencies
drfdocs
coverage
flake8
mkdocs