{% extends "admin/polymorphic_tree/change_list.html" %}
{% load staticfiles mptt_tags %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a class="historylink" href="/resources/simulate_data" target="_blank">Simulate Rx Data</a>
    </li>
{% endblock %}

{% block pagination %}
    {{ block.super }}
    <h1>Resources tree graph:</h1>
    <!--<link rel="stylesheet" media="screen, projection" href="{% static 'resources/tree.css' %}" />-->
    <div class="row" id=resources_tree>
        <div class="col-xs-12">
            <div class="text-center" style="width:100%;font-size:65%">
                <div class="text-left" style="display:inline-block">
                    <div class="tree">
                        <ul>
                        <!--cl.queryset contains the list of nodes (resources). recursetree loop across all nodes.-->
                        {% recursetree cl.root_queryset %}
                            <li>
                                <!--adding links to change view for each node-->
                                <a href="{{ node.id }}/change/" id="{{ node.id }}"
                                        {# If the node type match the filter node type being applied it add a class for css #}
                                        {% if node.polymorphic_ctype_str_id == cl.params.ct_id %}
                                            class="nodeTypeFilter"
                                        {% endif %}>
                                    {{ node.name }}
                                    <div id="displayzone_{{ node.id }}" class="displayzone"></div>
                                </a>
                                {% if not node.is_leaf_node %}
                                    {# node.is_leaf_node #}
                                    {# node.can_have_children #}
                                    <ul>
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}